<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!-- alias 지정해주기 -->
	<!-- Mapper.xml파일 안에 parameterType, resultType 지정하게 될 때, alias를 줘서 보다 간단하게 
		코드를 작성할 수 있게 도와주는 방법 -->
	<typeAliases>
		<typeAlias type="kr.smhrd.model.MemberVO" alias="MemberVO" />
	</typeAliases>

	<!-- Mybatis 프레임워크의 틀 -->
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<!-- DB연결설정 -->
			<dataSource type="POOLED">
				<property name="driver"
					value="oracle.jdbc.driver.OracleDriver" />
				<property name="url"
					value="jdbc:oracle:thin:@project-db-stu.ddns.net:1524:xe" />
				<property name="username" value="cgi_1_0516_1" />
				<property name="password" value="smhrd1" />
			</dataSource>
		</environment>
	</environments>

	<!-- Mapper 파일(SQL 쿼리문을 가지고 있는 파일) 설정하기 -->
	<mappers>
		<mapper resource="kr/smhrd/database/MemberMapper.xml" />
	</mappers>

</configuration>                   

                                                                                                                                                     